body{
    margin: 0;
}

nav{

    background-color: aquamarine;
    margin: 0%;
    border-radius: 10%;
}
nav a{
    padding: 12px 15px;
    text-decoration: none;
    text-align: center;


}
#about {
    background-color: pink;
    padding: 3rem 0;
    margin: 2rem 0;
    border-top: 1px solid #e0d6cc;
    border-bottom: 1px solid #e0d6cc;
    margin: 0%;
}
#footer{
    background-color: blueviolet;
    margin: 0%;
}
#contacts{
    background-color: pink;
    padding: 3rem 0;
    margin: 2rem 0;
    border-top: 1px solid #e0d6cc;
    border-bottom: 1px solid #e0d6cc;
    margin: 0%;
}


.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}
